<div class="row pt-5 pb-5">
    <div class="col-sm-6 d-flex justify-content-center align-items-center mb-5">
        <div class="exp-img">
            <img id="udemy" src="../../../assets/Udemy Logo.png" alt="">
        </div>
    </div>

    <div class="col-sm-6">
        <div>
            <p class="edu-title">Udemy</p>
            <p>Aprende CSS completo 2021 (7.5 hs)</p>
            <p>Instructor Manuel Gomez Martinez</p>
            <p>Año: 2021</p>
            <a class="btn btn-light" href="#" role="button">Certificado</a>
        </div>

        <div id="pencil-info" class="container-fluid">
            <button
                [ngClass]="childMessage === false? 'btn-icon-dark': 'btn-icon-light'"
                id="edit" 
                type="button" 
                class="btn"
                >
                <fa-icon [icon]="faPencil"></fa-icon>
            </button>
        
            <button
                [ngClass]="childMessage === false? 'btn-icon-dark': 'btn-icon-light'" 
                id="delete" 
                type="button" 
                class="btn"
            >
                <fa-icon [icon]="faXmark"></fa-icon>
            </button>
        </div>
    </div>
</div>
