#udemy{
    width: 12.688rem;
    height: 6.484rem;
}

#pencil-info{
    margin-top: 10px;
    padding: 0; 
}

/*BOTONES*/

#edit #delete{
    background-color: transparent;
    border: none;
    /*color: #fff;*/
    /*font-size: 2rem;*/
    margin-right: 20px;
}

.btn-icon-dark{
    color:#fff;
    font-size: 2rem;
}

.btn-icon-light{
    color:#000;
    font-size: 2rem;
}



.edu-title{
    font-size:2.125rem;
    font-weight: 700;
}