<section>
    <div id="project" class="container-fluid text-center">
        <h2 id="project-title" class="h2">Proyectos</h2>
        
        <div [ngClass]="data === false? 'project-card-dark': 'project-card-light'"
            class="container pb-5"
            >
            <h3 class="pt-5">Web site Veterinaria Cuki</h3>
            <p>Año: 2022</p>
            <p>Sitio oficial de la Veterina Cuki, lider en la atencion de tus mascotas.</p>
            <a class="btn btn-light" href="#" role="button">Ver Proyecto</a>
            <button
                [ngClass]="data === false? 'btn-icon-dark': 'btn-icon-light'" 
                id="edit" 
                type="button" 
                class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
            
                >
                <fa-icon [icon]="faPencil"></fa-icon>
            </button>

            <!-- Boton para eliminar el contenido-->
            <button 
                [ngClass]="data=== false? 'btn-icon-dark': 'btn-icon-light'"
                id="delete" 
                type="button"
                class="btn"
                >
                <fa-icon [icon]="faXmark"></fa-icon>
            </button>
        </div>
    </div>
</section>
    

