#exp-info{
    border: 1px solid #fff;
    border-radius: 5px;
}

.exp-title{
    font-size: 3rem;
}

#pencil-info{
    height: 100%;
    padding: 0; 
}

#pencil-info button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    margin-right: 20px;
}