<p id="name">Torres, Maximiliano</p>
<p id="profesion">Programador y Desarrollador web</p>
<p id="nivel">Full Stack Developer Jr.</p>
<p class="pt-5"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta consequatur aperiam, assumenda velit a molestiae porro exercitationem magnam facere fugiat deserunt quod facilis non et quia officia saepe ratione provident.</p>
<div id="pencil-info" class="container-fluid">
    <button>
        <fa-icon [icon]="faPencil"></fa-icon>
    </button>

    <button>
        <fa-icon [icon]="faXmark"></fa-icon>
    </button>
</div>


