/*Skills*/

#skills-title{
    font-size:3.125rem;
    font-weight: 700;
}

.skills-card-dark{
    border: 1px solid #fff;
    border-radius: 15px;
}

.skills-card-light{
    border: 1px solid #000;
    border-radius: 15px;
}

.skill-title{
    margin: 1.24rem 0;
    text-align: center;
}

#pencil-info{
    padding: 0; 
}

#edit #delete{
    background-color: transparent;
    border: none;
    /*color: #fff;*/
    /*font-size: 2rem;*/
    margin-right: 20px;
}

.btn-icon-dark{
    color:#fff;
    font-size: 2rem;
}

.btn-icon-light{
    color:#000;
    font-size: 2rem;
}


.modal-title{
    color: #000;
}

