<section>
    <div id="skills" class="container-fluid">
        <div class="container pb-5">
            <h2 id="skills-title" class="h2 text-white text-center">Skills</h2>
            <div id="skills-card" class="row text-center pt-5 pb-5 d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="container">
                        <h3 class="skill-title">Dessarrollo HTML</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
        
                        <div id="pencil-info" class="container-fluid">
                            <button>
                                <fa-icon [icon]="faPencil"></fa-icon>
                            </button>
                        
                            <button>
                                <fa-icon [icon]="faXmark"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>