<!-- Experiencia-->
<section>
    <div id="exp" class="container-fluid">
        <div class="row text-center pt-5 pb-5">
            <h2 id="exp-title" class="h2">Experiencia</h2>
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-sm-6 d-flex justify-content-center align-items-center mb-5">
                <div class="exp-img">
                    <img class="img-fluid" id="amazon" src="../../../assets/amazon.png" alt="amazon">
                </div>
            </div>

            <div class="col-sm-6">
                <app-exp-info></app-exp-info>
            </div>
        </div>
    </div>
</section>
