<!-- Experiencia-->
<section>
    
    <h2 id="exp-title" class="h2 text-center">Experiencia</h2>
    
    <div id="exp" class="container-fluid">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="exp-img">
                    <img class="img-fluid mt-5 mb-5" id="amazon" src="../../../assets/amazon.png" alt="amazon">
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="">
                    <p class="exp-title-enterprise">Amazon</p>
                    <br>
                    <p>Perido: Enero 2022 - Julio 2022</p>
                    <p>Desarrollador Front End</p>
                </div>
            </div>

            <div class="col-sm-6">
                
            </div>
        </div>
    </div>
</section>
